
html{
  overflow-y: hidden;
  overflow-x: hidden;
}


svg{
  margin: 0;
}

.cancel{
  width: 2em;
  height: 2em;

}

#prenom{
    color: #D62828
}

h1{
  text-align: center;
  padding: 1rem;
  font-size: 30px;
}

.reindeer{
  height: 25vh;
  position: fixed;
  bottom: 35%;
  left:35%

}

.reindeer:hover{
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: reverse;
    
}


iframe{
  height: auto;
  width: 90vw;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50%{
        transform: rotate(40deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }



.modal{
   
    height: auto;
    width: 100vw;
    z-index: 1;
}


#txt-welcom{
  font-family: Mountains of Christmas;
  font-size: 25px;
  text-align: center;
  color: #D62828;
  text-shadow: 1px 1px 2px #3ca72e, 0 0 1em blue, 0 0 0.2em #3ca72e;
}


.countdown_style{
  font-size:20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white;
  text-align: center;
}

.pictures{
  display: flex;
  height: 100vh;
  width: 100vw;
}

.santa{
  height: 40vh;
  position: fixed;
  bottom: 0;
  right: -70px ; 
  
}

.gift{
  position: fixed;
  height: 40vh;
  top:62%;
}
  
  
  form{
    display: none;
    background-color: #c8c7f0;
    height: 60vh;
    width: 70vw;
 
  }

  input,
  label {
    padding-left: 10px;
  }

  #message{
    width: 60vw;
    height: 30vh;
  }
  #prenom{
    color: #D62828
  }

  
  /* ______________________ tablet ______________________________*/
  
  @media screen and (min-width: 450px) and (max-width:768px){
   
  
  h1{
    text-align: center;
    padding: 1rem;
    font-size: 30px;
  }
  
  .reindeer{
    height: 50vh;
    position: fixed;
    bottom: -5%;
    left: 0%;
  
  }

  iframe{
    height: auto;
    width: 90vw;
  }
  
  @keyframes rotate {
      0% {
        transform: rotate(0);
      }
      50%{
          transform: rotate(40deg);
      }
      100% {
        transform: rotate(-40deg);
      }
    }
  
  
  
  .modal{
      height: auto;
      width: 100vw;
      z-index: 1;
  }
  
 
  #txt-welcom{
    font-family: Mountains of Christmas;
    font-size: 25px;
    text-align: center;
    color: #D62828;
    text-shadow: 1px 1px 2px #3ca72e, 0 0 1em blue, 0 0 0.2em #3ca72e;
  }
  
  
  .countdown_style{
    font-size:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: white;
    text-align: center;
   
  }
  
  .santa{
    height: 40vh;
    position: fixed;
    bottom: 0;
    right: -70px ; 
    
  }
  
  .gift{
    position: relative;
    height: 45vh;
    top: 21%;
    left:25%;
  }
    
    .pictures{
      display: flex;
    }
  
   
  input,
  label {
      padding-left: 10px;
    }
  
  #message{
      width: 60vw;
      height: 30vh;
    }   
  
  }
  
  /* ______________________ Desktop ______________________________*/
  
  @media screen and (min-width: 769px) {
      
    /* modal reindeer */
        dialog.video.modal.js-modal{
          height: auto;
          width: 58vw;
        }
    
        svg{
          margin: 0;
        }
    
        .cancel{
          width: 2em;
          height: 2em;
    
        }
    
        form{
          width: 30vw;
        }
    
        #message{
          width: 20vw;
          height: 30vh;
        }
    
        #txt-welcom{
          font-family: Mountains of Christmas;
          font-size: 50px;
          text-align: center;
          color: #D62828;
          text-shadow: 1px 1px 2px #3ca72e, 0 0 1em blue, 0 0 0.2em #132A13;
        }
    
    
        .countdown_style{
          font-size: xx-large;
          text-align: center;
          padding: 10px;
          margin: auto;
        }
    
        .modal{
          margin: auto;
          display: flex;
        }
    
        iframe{
          width:560px;
          height: 315px;
         
        }
  
    
        .reindeer-container{
          position: relative;
          z-index: 2;
        }
  
        .reindeer:hover{
          animation-name: rotate;
          animation-duration: 0.7s;
          animation-direction: reverse;
          
      }
      
      
      @keyframes rotate {
          0% {
            transform: rotate(0);
          }
          50%{
              transform: rotate(40deg);
          }
          100% {
            transform: rotate(-40deg);
          }
        }

        .reindeer{
          height: 45vh; 
          position: relative;
          bottom: 0%;
          left:86%;
        }
    
        .santa{
          height: 55vh;
          position: fixed;
          bottom: 0;
          right: 1em;  
        }

          
        .gift{
          position: relative;
          height: 45vh;
          top: 10%;
         left: 20%;
        }
          
    
        body {
          margin: 0;
          overflow: hidden;
        }
       
    }