
#prenom{
    color: red
}

h1{
  text-align: center;
  padding: 1rem;
  font-size: 30px;
  
}

.reindeer{
  height: 25vh;
}

.reindeer:hover{
    animation-name: rotate;
    animation-duration: 0.7s;
    animation-direction: reverse;
}

iframe{
  height: auto;
  width: 90vw;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    50%{
        transform: rotate(40deg);
    }
    100% {
      transform: rotate(-40deg);
    }
  }


.video{
    display: none;  
}

.modal{
    display: none;
    height: auto;
    width: 100vw;
    z-index: 1;
}

button{
   background: none; 
   float:inline-start;
   border: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: red;
}

#txt-welcom{
  font-family: Mountains of Christmas;
  font-size: 40px;
  text-align: center;
  color: red;
  text-shadow: 1px 1px 2px green, 0 0 1em blue, 0 0 0.2em green;
}

.blink {
    font-family: Mountains of Christmas ;
    font-size: 50px;
    left: 27rem;
    bottom: 1rem;
    position: fixed;
    animation: blink 1s infinite;
  }
  @keyframes blink { 
    0% { color: red;}
    50% {  color: green; } 
    100% {  color: red; }
  }

  
.countdown_style{
  font-size:20px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  color: white;
 
}

.santa{
  height: 40vh;
  position: fixed;
  bottom: 0;
  right: 1em;
  
}

.gift{
  width: 50vw;
  margin-top: 3vh;
  }
  
  .pictures{
    display: flex;
  }

.christmas-tree{
  display: none;
}
/* ______________________ Desktop ______________________________*/

@media (min-width: 450px) {
      h1{
        text-align: center;
        padding: 1rem;
        font-size: 70px;   
    }

    dialog.video.modal.js-modal{
      height: 50vh;
      width: 50vw;
  }

  .material-symbols-outlined{
    position: absolute;
    top: 5px;
    right: 5px;
  }

    #txt-welcom{
      font-family: Mountains of Christmas;
      font-size: 50px;
      text-align: center;
      color: red;
      text-shadow: 1px 1px 2px green, 0 0 1em blue, 0 0 0.2em green;
    }


    .countdown_style{
      font-size: xx-large;
      text-align: center;
      padding: 10px;
      margin: auto;

    }

    .modal{
      display: none;
      margin: auto;
    }

    iframe{
      width:560px;
      height: 315px;
     
    }

    .christmas-tree{
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 3%;
    }

    .reindeer-container{
      position: relative;
      z-index: 2;
    }
    .reindeer{
      height: auto;
      
    }

    .santa{
      height: 55vh;
      position: fixed;
      bottom: 0;
      right: 1em;
      
    }

    .pictures{
      display: flex;
    }

    body {
      margin: 0;
      overflow: hidden;
    }
    .snowflake {
      position: absolute;
      background-color: #fff;
      border-radius: 50%;
      pointer-events: none;
      user-select: none;
      filter: blur(3px);
    }
}

