form{
    background-color: #27cd8d;  
    padding: 1rem;
    border: #1b885e 3px solid;
    border-radius: 5px;
   
}

input{
    display: flex;
}


.form-button{
    background-color: #D62828;
    border-radius: 25px;
    padding: 5px;
    margin: auto;
}

.form-title{
    text-align: center;
    font-weight: bolder;
    color: #fff;
}
.div-connexion{
    display: flex;
    flex-direction: column;
}

.santa {
    height: 25vh;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    
}

.elf{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 35vw;
    
  }




/* ______________________ Desktop ______________________________*/

@media (min-width: 450px){
    .santa{
        height: 50vh;
        margin-top: 23vh;
        width: auto;
       
    }
    

    form{
        margin-right: 10vh;
        margin-left: 10vh;
        margin-top: 20vh;
       
    }
    
    .elf{
        height: 60vh;
        width: auto;
        margin-top: 15vh;
      }

    .div-connexion{
        flex-direction: row;
        justify-content: center;
    }
       
}
