
textarea#adress{
    width: 90vw;   
 }

textarea#message{
   width: 90vw;
   
}

.form-container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    width: 70vw;
    margin: auto;
 }

 
input{
   display: flex;
   
}

form{
    color: white;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #050426;
        
 }

 .title-form{
   color: #000;
   margin-top: 1rem;
   
 }

 textarea#adress{
   width: 75vw;
   
}
textarea#message{
   width: 75vw;
   height: 50vh;
   
}

/* ______________________ Desktop ______________________________*/

@media (min-width: 450px){

    textarea#adress{
        width: 50vw;
        
     }
    textarea#message{
        width: 50vw;
        height: 30vh;
        
     }

   .title-form{
      color: #fff;
      font-size: 6rem;
   }

}
