html{
    overflow-y: hidden;
    overflow-x: hidden;
  }


.lutin--container{
    position: relative;
}

.lutin--image{
    display: flex;
    height: 50vh;
    justify-content: space-around;
    bottom: 0;
    position: fixed;
}

.gift--container{
    display: flex;
    justify-content: center;
}

.gift{
    padding: 5px;
    height: 10vh;
}

.christmas-tree{
    display: none;
}

.block-lightpink{
    background-color: rgb(237, 186, 224); 
   
}

.block-purple{
    background-color: rgb(119, 65, 221);

}
.block-pink{
    background-color: rgb(122, 43, 103);

}
.block-green{
    background-color: rgb(79, 122, 72);

}
.block-blue{
    background-color: rgb(148, 211, 237);

}

.block-gift{
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
    width: 50%;
    height: 60vh;
    margin: -20px 15px;
      
}

.block-lightpink{
    width: 60%;
}

.block-green,
.block-pink
{
    height: 60%;
    width: 65%;
}

.a-link{
    text-decoration: none;
    color: black;
}

/* ______________________ Desktop ______________________________*/
@media (min-width: 450px){
    .gift{
        margin-top: 30px;
        padding: 10px;
        height: 25vh;
    }

    .gift--container{
        display: flex;
        justify-content: center;
    }

    .gift2, 
    .gift4 {
        margin-top: 70px;
    }

    .block-gift{
        display: flex;
        justify-content: center;
        align-items: center;
        writing-mode: vertical-lr;
        text-orientation: upright;
        text-align: center;
        width: 80%;
        height: 60vh;
        margin: -75px 20px;
       
    }

    .snowflake {
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        pointer-events: none;
        user-select: none;
        filter: blur(3px);
      }


    .christmas-tree{
        
        display: flex;
        height: 50vh;
        justify-content: flex-end;
    }

}