section{
    border: 5px solid black;
    width: 200px;
    margin: 10px;
}

.wrapper,
.number,
.name,
.button{
    display: flex;
    justify-content: center;
    margin: 1vh;
    
}

img{
   height:100%;
}

section{
    display: inline-block;
    margin-left: 200px;
}

.button{
    border-radius: 5px ;
    border: 1px solid orange;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

