*{
    margin: 0;
}


a{
    text-decoration: none;
    color: white;
}

li{
    list-style: none;
    display: inline;
    padding: 25px;
    color: white;
    font-weight: bold;
    
}

.navbar{
    height: 4rem;
    background-color:#c8c7f065;
    color: white;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

svg{
    margin: 15px;
}

@media (max-width: 450px) {
    ul.navbar-nav.mr-auto{
        background-color:#c8c7f065;
        margin: 0;
    }
}

